.App {
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.App-logo {
  height: 20vmin;
  margin-top: 3vh;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

